/*color palette 
base red: AE472C
baby pink: EFC8BE
Laurel Green(light green): #C6CCB2
XANADU(MIDSOFT GREEN):68826b
SACRAMENTO GREEN:093824
STEELTEAL: 77918F
LAVENDER WEB: E5EAFA
AQUAMARINE: 84FED3
MEDIUM SPRING: 21FDB0
DARK JUNGLE: 00140D*/

body {
    background: #ae472c;
    display: grid;
    grid-template-rows: 40px 40px 15% 35% 25%;
    row-gap: 5px;
}

header {
    background: #efc8be;
    display: grid;
    grid-template-columns: 20% 40% 5% 10% 12% 5% 5%;
    column-gap: 5px;
}
#nav-bar {
    background: #efc8be;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    column-gap: 5px;
}

#ad {
    background: #efc8be;
    justify-content: center;
}
main {
    background: #efc8be;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

#add-articles {
    background: #efc8be;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

.linkable {
    background: #c6ccb2;
}

.article {
    background: #68826b;
    height: 190px;
}

#article-holder {
    background: #c6ccb2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
}
.particle {
    background: #68826b;
}
