/*color palette 
base red: AE472C
baby pink: EFC8BE
Laurel Green(light green): #C6CCB2
XANADU(MIDSOFT GREEN):68826b
SACRAMENTO GREEN:093824
STEELTEAL: 77918F
LAVENDER WEB: E5EAFA
AQUAMARINE: 84FED3
MEDIUM SPRING: 21FDB0
DARK JUNGLE: 00140D*/

:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}
